.page .scoreContainer{
    margin-top: 100px;
}
.scoreContainer, #messages, #firstMessage{
    display: flex;
    margin: 70px 50px 5px;
    font-size: 150px;
    font-weight: bold;
    justify-content: center;
    gap: 5px;
}
.button-container{
    display: flex;
    justify-content: center;
    margin: 50px auto 120px;
    gap: 10px;
}
.button{
    padding: 10px 20px;
    color: whitesmoke;
    background-color: rgb(0, 0, 0);
    font-weight: 600;
    border-radius: 100px;
    border-width: 0px;
}
.nameTag{
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-style: italic;
    gap: 50px;
}
.nameTag .tagPlayer{
    margin-left: 10px;
}
.page #messages{
    font-size: 50px;
    
}
 #firstMessage, .points{
    margin-left: 50px;
    font-size:135px;
    justify-content: start;
    
}
.page{
    margin: 0 0;
    padding: 0 0;
}
.page .WINS{
    font-size: 135px;
    font-weight: bold;
    margin-left: 50px;
}
#firstMessage{
    margin-top: 70px;
}
.points{
    font-weight: bold;
}